<body>
  <h1>Processos</h1>

  <div class="btnRelatorio">
    <div class="btnCadastro">
      <button type="button" (click)="abrirModal()">Cadastrar Processo</button>
    </div>
    <div class="relatorio">
      <div class="relatorioLabel">
        <img src="assets\imagens\agenda-icons.png">
        <label for="relatorio">Relatório</label>
      </div>
      <div class="relatorioCampo">
        <select name="relatorio" id="relatorio" ngModel>
          <option value="todos">Todos</option>
          <option value="processo">Processo</option>
        </select>
      </div>
    </div>
    <div class="status">
      <div>
        <input type="checkbox" id="chkArquivado" nam="chkArquivado" checked [(ngModel)]="relatorio">
        <label for="scales">Arquivado</label>
      </div>
      <div class="emAndamento">
        <input type="checkbox" id="chkEmAndamento" name="chkEmAndamento">
        <label for="chkEmAndamento">Em Andamento</label><br>
      </div>
    </div>
  </div>

  <div class="tabela-com-scroll">
    <table>
      <thead>
        <tr>
          <th>Arquivo</th>
          <th>Código Processo</th>
          <th>Número Processo</th>
          <th>Ação do Processo</th>
          <th>Tribunal</th>
          <th>Vara</th>
          <th>Comarca</th>
          <th>Data</th>
          <th>Cliente</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let processo of processos">
          <td><a id="editar" (click)="abrirDocumento(processo.linkDocumento)"><img
                src="assets\imagens\arquivo-icons.png"></a></td>
          <td>{{processo.id}}</td>
          <td>{{processo.numeroProcesso}}</td>
          <td>{{processo.acaoProcesso}}</td>
          <td>{{processo.tribunal}}</td>
          <td>{{processo.vara}}</td>
          <td>{{processo.comarca}}</td>
          <td>{{processo.dataContrato}}</td>
          <td>{{processo.clienteId}}</td>
          <td>{{processo.status == 'EmAndamento' ? 'Em andamento' : 'Arquivado'}}</td>
          <td>
            <a id="editar" routerLink="/" (click)="setEditar(processo)"><img src="assets\imagens\editar-icons.png"></a>
            <a id="editar" routerLink="/" (click)="delete(processo.id)"><img src="assets\imagens\lixo-icons.png"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-------------------------------- MODAL ------------------------------------------------------------------------------------>
  <div class="modal-container" id="janelaModal">
    <div class="container">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro Processo</h5>
        <a id="editar" routerLink="/" (click)="fecharModal()"><img src="assets\imagens\fechar-janela-icons.png"></a>
      </div>
      <div>
        <form #formulario="ngForm" (ngSubmit)="save(formulario)">
          <div class="form-group">
            <div class="formInputSelect">
              <label for="id">Código do Processo</label>
              <input class="idProcesso" type="text" name="id" id="id" readonly ngModel>
            </div>
            <div class="formInputSelect">
              <label for="numeroProcesso">Número Processo*</label>
              <input class="numProcesso" type="text" name="numeroProcesso" id="numeroProcesso" ngModel required>
            </div>
            <div class="formInputSelect">
              <label for="dataContrato">Data do Contrato*</label>
              <input class="dtContrato" type="date" name="dataContrato" id="dataContrato" ngModel required>
            </div>
            <div class="formInputSelect">
              <label for="clienteId">Código do Cliente*</label>
              <input type="text" name="clienteId" id="clienteId" ngModel required>
            </div>
          </div>
          <div class="form-group">
            <div class="formInputSelect">
              <label for="acaoProcesso">Ação do Processo*</label>
              <input class="acao" type="text" name="acaoProcesso" id="acaoProcesso" ngModel required>
            </div>
            <div class="formInputSelect">
              <label for="tribunal">Tribunal</label>
              <input class="tribunal" type="text" name="tribunal" id="tribunal" ngModel>
            </div>
            <div class="formInputSelect">
              <label for="vara">Vara</label>
              <input type="text" name="vara" id="vara" ngModel>
            </div>
          </div>
          <div class="form-group">
            <div class="formInputSelect">
              <label for="comarca">Comarca</label>
              <input class="comarca" type="text" name="comarca" id="comarca" ngModel>
            </div>
            <div class="formInputSelect">
              <label for="foro">Foro</label>
              <input type="text" name="foro" id="foro" ngModel>
            </div>
            <div class="formInputSelect">
              <label for="linkDocumento">Link para pasta de documentos*</label>
              <input class="link" type="text" name="linkDocumento" id="linkDocumento" ngModel required>
            </div>
          </div>

          <div class="form-group">
            <div class="formInputSelect">
              <label for="dataAbertura">Data de abertura*</label>
              <input class="data" type="date" name="dataAbertura" id="dataAbertura" ngModel>
            </div>
            <div class="formInputSelect">
              <label for="dataFechamento">Data do fechamento</label>
              <input class="data" type="date" name="dataFechamento" id="dataFechamento" ngModel>
            </div>


            <div>
              <label>Status</label>
              <div class="status-cadastro">
                <label for="emAndamento">
                  <input type="radio" id="emAndamento" name="status" [(ngModel)]="status" value="EmAndamento">
                  Em Andamento
                </label>

                <label for="arquivado">
                  <input type="radio" id="arquivado" name="status" [(ngModel)]="status" value="Arquivado">
                  Arquivado
                </label>
              </div>
            </div>

          </div>
          <div class="botoes">
            <input id="botoes" type="submit" value="Salvar">
            <input id="botoes" type="reset" value="Limpar">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-------------------------------- FIM do MODAL -------------------------------------------------------------------------------->

</body>