
<nav>
    <ul>
        <li><a routerLink="/audiencias">Agenda</a></li>
        <li><a routerLink="/processos">Processo</a></li>
        <li><a routerLink="/clientes">Cliente</a></li>
        <li>
            <div class="blocoImagem">            
                <!-- <img class="imagem" src="assets\imagens\Ellipse 1.png"> -->
                <!-- <img class="imagem" src="assets\imagens\Ellipse 2.png"> -->
                <a routerLink="/usuarios"><img class="imagem" src="assets\imagens\balancaBranca-icons.png"></a>
                <!-- <img class="imagem" src="assets\imagens\balancaBranca-icons.png">             -->
            </div>
        </li>
    </ul>
</nav>  
  
<router-outlet></router-outlet>
