<nav>
    <ul>
        <li><a href="#">Agenda</a></li>
        <li><a routerLink="/processos">Processo</a></li>
        <li><a routerLink="/clientes">Cliente</a></li>
        <li>
            <div class="blocoImagem">  
                <input type="text" class="pesquisa">   
                <!-- <a class="link" routerLink="/usuarios"><img class="imagem" src="assets\imagens\Ellipse.png"></a>        -->
                <a class="link" routerLink="/usuarios"><img class="imagem" src="assets\imagens\balancaBranca-icons.png"></a>
                <!-- <img class="imagem" src="assets\imagens\balancaBranca-icons.png">             -->
            </div>
        </li>
    </ul>
</nav>  