body {
    background-color: #EEEAEA;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #6765D7;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 58px;
  }

  li a:hover {
    background-color: #111061;
  }

.blocoImagem {
    display: flex;
    align-items: center;
    justify-content: end; /* Empurra o bloco de imagens para a direita */
}

.imagem {
  width: 30px;  
  height: auto; 
  // border-radius: 50%;  // Torna a imagem redonda
  // // display: block;  // Impede que a imagem se estenda além do contêiner do link
}  



