<nav>
    <ul>
        <li routerLinkActive="active"><a routerLink="/audiencias">Agenda</a></li>
        <li routerLinkActive="active"><a routerLink="/processos">Processo</a></li>
        <li routerLinkActive="active"><a routerLink="/clientes">Cliente</a></li>
        <div class="blocoImagem"> 
            <li>
               
                <a class="link" routerLink="/usuarios"><img class="imagem" src="assets\imagens\Ellipse.png"></a>       
            
            </li>
        </div>
    </ul>
</nav>  