<body>
  <h1>Cadastro Clientes</h1>
    <form #formulario="ngForm" (ngSubmit)="save(formulario)">
        <div class="input-group">
          <label for="id">Código do Cliente </label>  
          <input type="text" name="id" id="disabledInput" ngModel>
          
            <label for="nome">Nome Completo* </label>
            <input type="text" name="nome" id="nome" ngModel required>
         
            <label for="cpfOuCnpj">CPF/CNPJ* </label>
            <input type="text" name="cpfOuCnpj" id="cpfOuCnpj" ngModel required>
        </div>

      <div class="input-group">
        <label for="dataNascimento">Data do Nascimento* </label>
        <input type="date" name="dataNascimento" id="dataNascimento" ngModel required>
        <label for="rua">Rua* </label>
        <input type="text" name="rua" id="rua" ngModel required>
        <label for="numero">Número </label>
        <input type="number" name="numero" id="numero" ngModel>
      </div>
      <div class="input-group">
        <label for="bairro">Bairro* </label>
        <input type="text" name="bairro" id="bairro" ngModel required>
        <label for="uf">UF* </label>
        <input type="text" name="uf" id="uf" ngModel required>
        <label for="cep">CEP* </label>
        <input type=" number" name="cep" id="cep" ngModel required>
        <label for="pais">País* </label>
        <input type="text" name="pais" id="pais" ngModel required>
      </div>
      <div class="input-group">
        <label for="telefone">Telefone* </label>
        <input type="text" name="telefone" id="telefone" ngModel required> <!-- "required" para dizer que o campo é obrigatorio-->
        <label for="email">E-mail </label>
        <input type="text" name="email" id="email" ngModel> 
        <label for="complemento">Complemento: </label>
        <input type="text" name="complemento" id="complemento" ngModel>
      </div>
      <div class="input-group">
          <label fro="">Status* </label>
          <input type="radio" name="input-radio" id="Ativo">
          <p>Ativo</p> <!-- "name" é para dizer que pertence ao mesmo grupo e não permitir que possa selecionar os dois, se tiver nomes diferentes, vai permitir selecionar mais de um, porque são de grupos diferentes -->
          <input type="radio" name="input-radio" id="Inativo">
          <p>Inativo</p>
      </div>  
        
        <div>
          <input class="btn btn-verde" type="submit" value="Salvar">
          <input class="btn" type="reset" value="Limpar">
        </div>   
      </form>
</body>

