
/* MODAL*/
.modal-form {
    margin-bottom: 20px;
    background-color: #EEEAEA;
}

.modal-form label {
    margin-bottom: 20px;
    margin-right: 5px;
}

.modal-form input {
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid black;
    width: 250px;
    height: 35px;
    color: #fff;
    margin: 5px;
}

#botao {
    display: flex;
    background-color: #EEEAEA;
   
    padding-left: 135px;
}

#botao button {
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid #111061;
    width: 80px;
    height: 35px;
    background-color: #111061;
    color: #fff;
    margin: 5px;
}

