<body>
    <form>
      <div>
        <label for="email">E-mail*</label>
        <input type="text" name="email" id="email" ngModel> 
      </div>
      <div>
        <label for="senha">Senha*</label>
        <input type="password" name="senha" id="senha" ngModel>
      </div>  
    <div>
      <input class="btnAzul" type="submit" value="Salvar">
      <input class="btnAzul" type="reset" value="Limpar">
    </div>   
  </form>
  <p>Já tem cadastro?  <a routerLink="/" (click)="abrirModal()">Cadastra-se</a></p>    
    <!--- Teste -->
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome Completo</th>
          <th>E-mail</th>
          <th>Senha</th>               
          <th>#</th>
        </tr>
      </thead>
      <tbody>
      <!-- <tr *ngFor="let cliente of clientesRows?.rows"> -->
      <tr *ngFor="let usuario of usuarios"> 
          <td>{{usuario.id}}</td>
          <td>{{usuario.nomeCompleto}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.senha}}</td>
          <td>      
            <a id="editar" routerLink="/" (click)="setEditar(usuario)"><img src="assets\imagens\editar-icons.png"></a>    
            <a id="editar" routerLink="/" (click)="delete(usuario.id)"><img src="assets\imagens\lixo-icons.png"></a>       
        </td>
        </tr>
      </tbody>
    </table>  

  <!-------------------------------- MODAL ------------------------------------------------------------------------------------>
  <div class="modal" id="myModal">
    <div class="modal-dialog custom-width" style="height: 100%;">
      <div class="modal-content" style="background-color: #EEEAEA;">
        <div class="modal-header">
          <h5 class="modal-title">Cadastrar usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="fecharModal()"><img src="assets\imagens\fechar-janela-icons.png"></button>
        </div>
        <div class="modal-body">
          <form #formulario="ngForm" (ngSubmit)="save(formulario)">
            <div>
              <label for="id">Código*</label>
              <input type="text" name="id" id="id" ngModel>
            </div>
            <div>
              <div>
                <label for="nomeCompleto">Nome Completo*</label>
                <input type="text" name="nomeCompleto" id="nomeCompleto" ngModel>
              </div>
              <div>
                <label for="email">E-mail*</label>
                <input type="text" name="email" id="email" ngModel> 
              </div>
            <div>
              <label for="senha">Senha*</label>
              <input type="password" name="senha" id="senha" ngModel>
            </div>
            <div>
              <label for="confirmaSenha">Confirma Senha*</label>
              <input type="password" name="confirmaSenha" id="confirmaSenha" ngModel>
            </div>
            </div>
            <div>
              <input class="btnAzul" type="submit" value="Salvar">
              <input class="btnAzul" type="reset" value="Limpar">
            </div>   
          </form>
        </div>
      </div>
    </div>
  </div>
 <!-------------------------------- FIM do MODAL -------------------------------------------------------------------------------->
   </body>
