
/* MODAL*/
.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    align-items: center;
    justify-content: center;
    display: none;
}

.container {
    max-width: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: #EEEAEA;
}

.modal-header button {
    border: none;
    background-color: #EEEAEA;
}

.modal-header img {
    width: 35px;
    height: 35px;
}

.elemento-invisivel {
    visibility: hidden;
}

