body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* MODAL*/
.modal-container {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    align-items: center;
    justify-content: center;
    display: none;
}

.container {
    max-width: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: #EEEAEA;
}

.modal-header button {
    border: none;
    background-color: #EEEAEA;
}

.modal-header img {
    width: 35px;
    height: 35px;
}

.elemento-invisivel {
    visibility: hidden;
}
