<body>
  <h1>Clientes</h1>
  <div class="centro">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" (click)="openModal()">Cadastrar Cliente</button>   
    <h5>Relatório</h5>
    <h5>Todos</h5>
  </div>   
           
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Cliente</th>
        <th>CPF/CNPJ</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Complemento</th>
        <th>Status</th>                  
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nomeCompleto}}</td>
        <td>{{cliente.cpfOuCnpj}}</td>
        <td>{{cliente.rua}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.complemento}}</td>
        <td>{{cliente.status}}</td>
        <td>                      
          <button id="editar" (click)="setEditar(cliente)"><img src="src\assets\imagens\editar-icons.png"></button>
          <button id="editar" (click)="delete(cliente.id)">Excluir</button>
      </td>
      </tr>
    </tbody>
  </table>  

  <!-- MODAL -->
  <div class="modal" id="myModal">
    <div class="modal-dialog custom-width" style="height: 70%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cadastrar Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">X</button>
        </div>
        <div class="modal-body">
          <app-cadastro-cliente></app-cadastro-cliente>
        </div>
      </div>
    </div>
  </div>

</body>
