<body>
        <h1>Clientes</h1>
        <div class="centro">
          <button>Cadastrar Cliente</button>
          <h5>Relatório</h5>
          <h5>Todos</h5>
        </div>     
        <table border="1" [width]="500">
          <thead>
              <tr>
                  <th>Código</th>
                  <th>Cliente</th>
                  <th>CPF/CNPJ</th>
                  <th>Endereço</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Complemento</th>
                  <th>Status</th>                  
                  <th>#</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes">
                  <td>{{cliente.id}}</td>
                  <td>{{cliente.nomeCompleto}}</td>
                  <td>{{cliente.cpfOuCnpj}}</td>
                  <td>{{cliente.rua}}</td>
                  <td>{{cliente.telefone}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{cliente.complemento}}</td>
                  <td>{{cliente.status}}</td>
                  <td>
                      <button class="btn" (click)="setEditar(cliente)">Editar</button>
                      <button class="btn btn-vermelho" (click)="delete(cliente.id)">Excluir</button>
                  </td>
              </tr>
          </tbody>
      </table>  
  </body>
