body {
    flex-wrap: wrap-reverse; /*esse vai fazer a responsividade do site*/
    background-color: #EEEAEA;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    src: url('/assets/fonts/Inter-ExtraLight.ttf') format('ttf');
}

h1 {
    margin: 10px;
    padding: 10px;
    font-size: 60px;
    color: #111061;
}

.btnRelatorio {
    padding: 30px;
    display: flex; /*mudar a disposição dos elementos em só uma linha */
    flex-direction: row;
    
}

.btnRelatorio button {
    margin-left: 5px;
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid #111061;
    width: 180px;
    height: 35px;
    background-color: #111061;
    color: #ffff;
    text-align: center;
    // font-size: 12px;
}

.relatorio {
    display: flex;
    margin-left: 30px;
}

.relatorioLabel {
    padding: 3px;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid black;
    width: 120px;
    height: 35px;
    background-color: #fff;
    text-align: center;
}

.relatorioLabel img {
    margin-right: 5px;
    width: 27px;
    height: 27px;
}

.relatorio select {
    margin-left: 10px;
    border-radius: 5px; 
    border: 1px solid black;
    width: 200px;
    height: 35px;
}

.ativoInativo {
    display: flex;
    margin-left: auto;
    justify-content: center; /* Alinha horizontalmente no centro */
    gap: 10px; /* Espaçamento entre os elementos */
}

.ativoInativo label {
    margin: 5px;
}

.inativo {
    margin-left: 20px;
}


table {
    width: 100%;
}

.tabela-com-scroll {
    overflow: auto;
    height: 300px; /* Defina a altura desejada para a tabela com a barra de rolagem */
  }

th {    
    background-color: #111061;
    color: #ffff;
    text-align: center;
    font-size: 14px;
}

td {
    background-color: #D9D9D9;
    text-align: center;
    font-size: 12px;
}

#editar img {
    width: 27px;
    height: 27px;
}

.statusRelatorio {
    margin-left: 20px;
    font-size: 10px;
}
/* ----------- Modal ---------------- */
.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    align-items: center;
    justify-content: center;
    display: none;
}

.container {
    max-width: 1000px;
    margin-top: 10px;
    padding: 20px;
    background-color: #EEEAEA;
}

.modal-header {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.modal-header img {
    width: 40px;
    height: 40px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-top: 5px;
    margin-left: 25px;
}

.formInputSelect input{
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 20px;
    width: 250px;
    height: 35px;
}

.formInputSelect select{
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 20px;
    width: 250px;
    height: 35px;
}

#status {
    display: flex;
    margin-left: 5px;
}

#status select{
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 20px;
    width: 250px;
    height: 35px;
}

#modal-botao-centro {
    justify-content: center;
    display: flex;
}

#modal-botao-centro button {
    border-radius: 5px; /* para definir o arredondamento */
    border: 1px solid #111061;
    width: 80px;
    height: 35px;
    background-color: #111061;
    color: #fff;
    margin: 5px;
}