<app-navbar></app-navbar>
<body>
    <h1>Agenda</h1>
    <div class="btnRelatorio">
        <div class="btnCadastro">
              <!-- Button trigger modal -->
          <button type="button" (click)="abrirModal()">Cadastrar Audiência</button> 
        </div>  
    </div>
    <div  class="tabela-com-scroll">
      <table>
        <thead>
          <tr>
            <th>Processo</th>
            <th>Cliente</th>
            <th>Data da Audiência</th>
            <th>Local</th>
            <th>Hora</th>
            <th>Status</th> 
            <th></th>         
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let audiencia of audiencias"> 
            <td hidden>{{audiencia.clienteId}}</td>
            <td>{{audiencia.processo.acaoProcesso}}</td>
            <td>{{audiencia.cliente.nomeCompleto}} </td>
            <td>{{audiencia.data}}</td>
            <td>{{audiencia.local}}</td>
            <td>{{audiencia.hora}}</td>
            <td>{{audiencia.status}}</td>
            <td>      
              <a id="editar" routerLink="/" (click)="setEditar(audiencia)"><img src="assets\imagens\editar-icons.png"></a>    
              <a id="editar" routerLink="/" (click)="delete(audiencia.id)"><img src="assets\imagens\lixo-icons.png"></a>       
          </td>
          </tr>
        </tbody>
      </table>  
    </div>    

    
 <!-------------------------------- MODAL ------------------------------------------------------------------------------------>
  <div class="modal-container" id="janelaModal">
    <div class="container">
        <div class="modal-header">
          <h5 class="modal-title">Cadastrar Audiencia</h5>
          <a id="editar" routerLink="/audiencias" (click)="fecharModal()"><img src="assets\imagens\fechar-janela-icons.png"></a>  
        </div>
        <div>
          <form #formulario="ngForm" (ngSubmit)="save(formulario)">
              <div class="form-group">
                <div class="formInputSelect" hidden>
                  <label for="id">Código da Audiencia</label>               
                  <input type="text" name="id" id="id" readonly ngModel>
                </div>          
                <div class="formInputSelect">
                  <label for="data">Data*</label>
                  <input type="date" name="data" id="data" ngModel required>
                </div>
                <div class="formInputSelect">
                  <label for="hora">Hora*</label>
                  <input type="time" name="hora" id="hora" ngModel required>
                </div>
              </div>
              <div class="form-group">
                <div class="formInputSelect" hidden>
                  <label for="clienteId">Código do Cliente</label>
                  <input type="text" name="clienteId" id="clienteId" ngModel>
                </div>

                <div class="formInputSelect">
                  <label for="clienteId">Cliente*</label>
                  <select name="clienteId" id="idCliente" [(ngModel)]="clienteId" (click)="onClienteSelectionChange(clienteId)">
                    <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nomeCompleto}}</option>
                  </select>
                </div>

              </div>
              <div class="form-group">
                <div class="formInputSelect" hidden>
                  <label for="processoId">Código do Processo</label>
                  <input type="text" name="processoId" id="processoId" ngModel>
                </div>
              <div class="formInputSelect">
                <label for="nome_processo">Processo*</label>
                <select name="processoId" id="processoId" [(ngModel)]="processoId" (click)="onProcesssoSelectionChange(processoId)">
                  <option *ngFor="let processo of processos" [value]="processo.id">{{processo.acaoProcesso}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="formInputSelect">
                <label for="local">Local*</label>
                <input type="text" name="local" id="local" ngModel>
              </div>
              <div id="status">
                <div>
                  <label>Status*</label>
                  <select name="status" id="status" [(ngModel)]="status">
                    <option value="EM_ANDAMENTO" >Em andamento</option>
                    <option value="ARQUIVADO" >Arquivado</option>
                  </select>
                </div>             
                </div>                
              </div>                           
            <div id="modal-botao-centro">
              <div class="salvar">
                <button  type="submit" value="Salvar">Salvar</button>
              </div>
              <div>
                <button type="reset" value="Limpar">Limpar</button>
              </div>             
            </div>   
          </form>
        </div>
      </div>
    </div>

 <!-------------------------------- FIM do MODAL -------------------------------------------------------------------------------->
  
</body>